.tool-box {
    background-color: lightgray;
    padding: 50px 30px 50px 30px;
    border-radius: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}



.search-box {
    display: flex;
    flex-direction: column;
}

.search-box span {
    font-weight: bold;
}

.btn-create {
    background-color: greenyellow;
}

.btn-active {
    background-color: yellow !important;
}